
/* ========= DEFAULT =========== */

@import url('./default/global.css');
@import url('./main/main.css');

/* ========== UTILIDADES ========= */

@import url('./ultilidades/botao.css');
@import url('./ultilidades/componentes.css');

