#controls ul {
    display: flex;
    justify-content: center;
}
#controls li {
    cursor: pointer;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 32px;
}
h1::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 50%;
    height: 4px;
    background: #767676;
    position: relative;
}

#player-img img {
    border-radius: 4px;
}

#player-content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 40px;
    background: #9a9a9a;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#controls {
    margin-top: 32px;
}