#controls ul {
    display: flex;
    justify-content: center;
}
#controls li {
    cursor: pointer;
}
h1 {
    font-size: 1.5rem;
}
#player-content {
    margin-top: 100px;
    padding: 20px 100px;
    background: #c2c2c2;
    border-radius: 4px;
    background-image: url('../../assets/img/musica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#controls {
    margin-top: 300px;
}