*,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
  display: grid;
}